<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
          <ion-icon name="md-close"></ion-icon>  
      </button>
    </ion-buttons>  
    <ion-title>
      Item Details
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="done()">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

    {{ item }}      

</ion-content>