<ion-header>
  <ion-navbar>
    <ion-title>
      Hello World
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
      {{ item }}
    </button> 
  </ion-list>    

</ion-content>
